In [187]:
import pandas as pd #importando a biblioteca Pandas
import numpy as np # importando a biblioteca Numpy

# Projeto I - Acidentes de Trânsito em Rodovias Federais

###1ª Tarefa

Baixe e carregue em dataframes os conjuntos de dados referentes ao ano de 2020 e de 2019. Corrija quaisquer erros que apareçam no carregamento dos
arquivos.

2020 = https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe  
2019 = https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN

In [188]:
# Utiliza-se o comando "read_csv" da biblioteca Pandas para carregar um arquivo CSV (Valores Separados por Virgúlas), 
# assim podendo manipulá-lo. Este comando pode receber parâmetros como o "sep", que serve para colocar o separador 
# utilizado na separação dos valores do arquivo, e também o comando "encoding", que é a codificação necessária para
# ler os dados do arquivo corretamente.

df2019 = pd.read_csv("/content/sample_data/datatran2019.csv", sep=';', encoding = "ISO-8859-1") 
df2020 = pd.read_csv("/content/sample_data/datatran2020.csv", sep=';', encoding = "ISO-8859-1")
df2019

             id data_inversa     dia_semana  ... regional delegacia       uop
0      182210.0   2019-01-01    terça-feira  ...    SR-SP    DEL6/1  UOP01/SP
1      182211.0   2019-01-01    terça-feira  ...    SR-PR    DEL7/3  UOP01/PR
2      182212.0   2019-01-01    terça-feira  ...    SR-SC    DEL8/3  UOP01/SC
3      182214.0   2019-01-01    terça-feira  ...    SR-CE   DEL16/1  UOP02/CE
4      182215.0   2019-01-01    terça-feira  ...    SR-MG    DEL4/3  UOP01/MG
...         ...          ...            ...  ...      ...       ...       ...
67441  266255.0   2019-10-07  segunda-feira  ...    SR-ES   DEL12/2  UOP01/ES
67442  266406.0   2019-11-25  segunda-feira  ...    SR-PR    DEL7/1  UOP03/PR
67443  266434.0   2019-06-03  segunda-feira  ...    SR-CE   DEL16/1  UOP01/CE
67444  266573.0   2019-07-13         sábado  ...    SR-PR    DEL7/3  UOP02/PR
67445  266627.0   2019-10-22    terça-feira  ...    SR-BA   DEL10/1  UOP01/BA

[67446 rows x 30 columns]

# 2ª Tarefa
Explore os conjuntos de dados, respondendo as questões:

(a) quantos acidentes ocorreram em cada ano?

In [189]:
# Nesta questão foram criadas variáveis novas para armazenar os tamanhos das quantidades de linhas que os DataFrames
# possuem, como cada linha corresponde a um único acidente, o número de linhas é igual ao de acidentes, para isso, 
# usou-se o comando "shape" que retorna, respectivamente, a quantidade de linhas e colunas de um Dataframe, logo "shape[0]"
# corresponde ao número de linhas.  

quantidadeAcidentes2020 = df2020.shape[0]
quantidadeAcidentes2019 = df2019.shape[0]

print("Em 2019 ocorreram %d acidentes, já em 2020 ocorreram %d acidentes." % (quantidadeAcidentes2019, quantidadeAcidentes2020))

Em 2019 ocorreram 67446 acidentes, já em 2020 ocorreram 34084 acidentes.

(b) quantas variáveis cada conjunto de dados registra?

In [190]:
# Nesta questão foram criadas variáveis novas para armazenar as quantidades de variáveis que os DataFrames possuem,
# para isso, usou-se o comando "shape" que retorna, respectivamente, a quantidade de linhas e colunas de um Dataframe,
# logo "shape[1]" corresponde ao número de colunas.

# Também poderia ser feito "var2019 = ddf2019.columns.size", para que fosse retornado o tamanho da quantidade de colunas 
var2019 = df2019.shape[1]
var2020 = df2020.shape[1]

print("O DataFrame de 2019 apresenta %d variáveis, já o de 2020 apresenta %d variáveis" % (var2019, var2020))

O DataFrame de 2019 apresenta 30 variáveis, já o de 2020 apresenta 30 variáveis

(c) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?

In [191]:
# Para obter essas informações foi-se utilizado o comando ".value_counts", que retorna uma série contendo 
# contagens de valores únicos em ordem decrescente, para pegar apenas os 5 primeiros valores foi usado o 
# comando ".iloc", que é utilizado para seleção por posição

cidadesMaisAcidentes2019 = df2019['municipio'].value_counts()
cidadesMaisAcidentes2019 = cidadesMaisAcidentes2019.iloc[:5]
print(cidadesMaisAcidentes2019)

cidadesMaisAcidentes2020 = df2020['municipio'].value_counts()
cidadesMaisAcidentes2020 = cidadesMaisAcidentes2020.iloc[:5]
print(cidadesMaisAcidentes2020)

CURITIBA     1094
BRASILIA     1090
SAO JOSE      819
GUARULHOS     717
SERRA         633
Name: municipio, dtype: int64
BRASILIA     582
CURITIBA     540
SAO JOSE     339
PALHOCA      329
GUARULHOS    327
Name: municipio, dtype: int64

(d) quantos acidentes com feridos graves aconteceram na Paraíba em 2019?

In [192]:
# Para resolução dessa questão foi utilizado uma condição em Python, para que na coluna "uf" todos os valores que
# forem iguais a "PB" e também todos os valores na coluna "feridos_graves" que forem maior que 0 fossem capturados, 
# assim criando outro DataFrame, mas como o objetivo é um inteiro como retorno, foi usado o comando "shape". Dessa 
# forma, o valor inteiro retornado é a quantidade de linhas no novo DataFrame que obedece todas as condições. 

feridosGravesParaiba = df2019[(df2019['uf'] == 'PB') & (df2019['feridos_graves'] > 0)].shape[0]
feridosGravesParaiba

414

# 3ª Tarefa
Para cada indicação abaixo, construa um novo dataframe, salvando-o com a terminação .csv.

(a) ranking de acidentes por estado para ambos os anos (um só arquivo combinando a informação dos dois anos);

In [193]:
# Para obter essas informações foi-se utilizado o comando ".value_counts", que retorna uma série contendo contagens 
# de valores únicos em ordem decrescente, para que dessa foma, fosse pego o ranking dos estados com maiores números
# de acidentes. Após isso foi utilizado o comando .concat, que serve para concatenar Dataframes, o comando "axis"
# serve para indicar se será feito na vertical ou horizontal. Foi cridado também uma lista para ser colocada como 
# valores das colunas com o comando ".columns". Para salvar o DataFrame comando utilizado foi o ".to_csv" que salva
# o dataFrame no destino passado como parâmetro.

estadoMaisAcidentes2019 = df2019['uf'].value_counts()
estadoMaisAcidentes2020 = df2020['uf'].value_counts()

todosAcidentes = pd.concat([estadoMaisAcidentes2019, estadoMaisAcidentes2020], axis = 1)

todosAcidentes.columns = ['2019', '2020']
todosAcidentes

todosAcidentes.to_csv(r'C:\Users\rafae\Desktop')

(b) acidentes por dia da semana para ambos os anos (um só arquivo combinando a informação dos dois anos).

In [194]:
# Quase idêntica a questão anterior, para obter essas informações foi-se utilizado o comando ".value_counts", que retorna 
# uma série contendo contagens de valores  únicos em ordem decrescente, para que dessa foma, fosse pego o números de acidentes
# em cada dia da semana. Após isso foi utilizado o comando .concat, que serve  para concatenar Dataframes, o comando "axis"
# serve para indicar se será feito por linhas ou colunas. Foi criado também uma lista para ser colocada como valores das
# colunas com o comando ".columns". Para salvar o DataFrame comando utilizado foi o ".to_csv" que salva o dataFrame no destino
# passado como parâmetro.

diasAcidentes2019 = df2019['dia_semana'].value_counts()
diasAcidentes2020 = df2020['dia_semana'].value_counts()

todosDiasAcidentes = pd.concat([diasAcidentes2019, diasAcidentes2020], axis = 1)

todosDiasAcidentes.columns = ['2019', '2020']
todosDiasAcidentes

todosDiasAcidentes.to_csv(r'C:\Users\rafae\Desktop')

# 4ª Tarefa
Com relação a ocorrência dos acidentes, responda:

(a) qual a causa mais frequente e a mais rara de acidentes registrados nos dois anos?

In [195]:
# Também parecida com a questão anterior, para obter essas informações foi-se utilizado o comando ".value_counts", que retorna uma série
# contendo a contagem de valores únicos em ordem decrescente, para que dessa foma, fosse pego o números de causas mais frequentes e mais
# raras. Após isso foram feitas 4 series com uso do ".iloc" e com fatiamentos ([-1:] = último valor / [:1] = primeiro valor), duas com os
# valores de causas mais raras em 2019 e 2020 e duas com os valores de causas mais frequentes em 2019 e 2020. Depois disso, foram feitas
# concatenações com o ".concat" dos dados de 2019 e dos dados de 2020, usando "axis=0" para indicar que seria feito por índices (horizontal),
# novamente mais uma concatenação foi feita para ser criado o DataFrame final, dessa vez utilizando "axis=1" [por colunas (vertical)], com
# todos os dados unidos. Mais uma vez foi-se criado também uma lista para ser colocada como valores das colunas com o comando ".columns".

causas2019 = df2019['causa_acidente'].value_counts() 
causas2020 = df2020['causa_acidente'].value_counts()

causaMaisRara2019 = causas2019.iloc[-1:]
causaMaisFrequente2019 = causas2019.iloc[:1]
causaMaisRara2020 = causas2020.iloc[-1:]
causaMaisFrequente2020 = causas2020.iloc[:1]

all_data2019 = pd.concat([causaMaisFrequente2019, causaMaisRara2019], axis = 0)
all_data2020 = pd.concat([causaMaisFrequente2020, causaMaisRara2020], axis = 0)
new = pd.concat([all_data2019, all_data2020], axis = 1)

new.columns = ['2019', '2020']
new

                                      2019   2020
Falta de Atenção à Condução          24992  11770
Ingestão de Substâncias Psicoativas     94     47

(b) qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos considerados? (proporção = numero de ilesos ou feridos graves/ número total de pessoas envolvidas no acidente);

In [196]:
def calculo(dataframe, coluna): # função para criar uma lista com os valores dados extraídos do Dataframe original

  # "to_datetime" para converter as datas em objetos de datetime, assim podendo ser manipulados. " errors='coerce' "apenas para converter valores não analisáveis
  dataframe['data_inversa'] = pd.to_datetime(dataframe['data_inversa'], errors='coerce') 
  dataframe['mes'] = pd.DatetimeIndex(dataframe['data_inversa']).month # Criando uma nova coluna chamada "mes" no dataframe original, contendo o mês extraído da coluna "data_inversa"

  lista = [] # lista para armazenar os valores da contagem

  for i in range (1, 13): # percorrendo os meses 
    lista.append(dataframe[(dataframe['mes'] == i) & (dataframe[coluna] > 0)].shape[0]) # analisando quantos valores em uma determinada coluna de um determinado mês existem, e colocando numa lista

  return lista 

def proporcao (lista_ilesos, lista_envolvidos): # função para criar uma lista com o cálculo da proporcao de ilesos e envolvidos

  proporcao = []

  for i in range(12):
    if lista_ilesos[i] != 0 and lista_envolvidos[i] != 0: # condição para evitar erro de divisão por zero
      proporcao.append((lista_ilesos[i] / lista_envolvidos[i])*100) # calculando a proporção e multiplicando por 100, para ter a porcentagem
    else : proporcao.append('-') # se valores forem diferentes de zero (nesse caso eles só poderiam ser NaN), serão colocados '-' em seu lugar
  
  return proporcao

# Criando Series a partir da função "calculo", que cria uma lista com os valores do dataframe de 2019 ou 2020
# O Dataframe e a coluna a ser analisada são passados como parâmetros
# A função analisa quantos valores há em cada mês e preenche os índices dessa forma, criando uma lista com 11 índices (De 0 à 11).
# Após isso a lista é transformada em uma Serie
feridosGraves2019 = pd.Series(calculo(df2019, 'feridos_graves')) 
feridosGraves2020 = pd.Series(calculo(df2020, 'feridos_graves')) 
pessoasIlesas2019 = pd.Series(calculo(df2019, 'ilesos'))
pessoasIlesas2020 = pd.Series(calculo(df2020, 'ilesos'))
envolvidos2019 = pd.Series(calculo(df2019, 'pessoas'))
envolvidos2020 = pd.Series(calculo(df2019, 'pessoas'))

# Usando a função "proporcao" para criar uma serie com dados calculados relacionando duas listas (Ilesos e Pessoas envolvidas)
proporcao2019 = pd.Series( proporcao( calculo(df2019, 'ilesos'),  calculo(df2019, 'pessoas')))
proporcao2020 = pd.Series( proporcao( calculo(df2020, 'ilesos'),  calculo(df2020, 'pessoas')))

# Usando a função ".concat" para criar um Dataframe com todas as informações das Series criadas anteriormente
All = pd.concat([feridosGraves2019, feridosGraves2020, pessoasIlesas2019, pessoasIlesas2020, proporcao2019, proporcao2020], axis = 1)
# Criando os novos índices e colocando no dataframe com a função ".index"
All.index = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
# Criando as novas colunas e colocando no dataframe com a função ".columns"
All.columns = ['Feridos_graves_2019','Feridos_graves_2020','Ilesas_2019','Ilesas_2020','Proporção2019 (%)','Proporção2020 (%)']

All

           Feridos_graves_2019  ...  Proporção2020 (%)
Janeiro                   1132  ...             62.111
Fevereiro                  972  ...            61.8777
Março                     1243  ...            59.5273
Abril                     1111  ...            55.9969
Maio                      1254  ...            59.6514
Junho                     1281  ...            61.9835
Julho                     1320  ...            61.6546
Agosto                    1261  ...                  -
Setembro                  1268  ...                  -
Outubro                   1321  ...                  -
Novembro                  1224  ...                  -
Dezembro                  1390  ...                  -

[12 rows x 6 columns]

(c) mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não a incidência de acidentes nas rodovias federais.

In [197]:
# FEITO COM ESTRATÉGIAS DA QUESTÃO ANTERIOR

def calculo(dataframe, coluna): # função para criar uma lista com os valores dados extraídos do Dataframe original

  # "to_datetime" para converter as datas em objetos de datetime, assim podendo ser manipulados. " errors='coerce' "apenas para converter valores não analisáveis
  dataframe['data_inversa'] = pd.to_datetime(dataframe['data_inversa'], errors='coerce') 
  dataframe['mes'] = pd.DatetimeIndex(dataframe['data_inversa']).month # Criando uma nova coluna chamada "mes" no dataframe original, contendo o mês extraído da coluna "data_inversa"

  lista = [] # lista para armazenar os valores da contagem

  for i in range (1, 13): # percorrendo os meses 
    lista.append(dataframe[(dataframe['mes'] == i) & (dataframe[coluna] > 0)].shape[0]) # analisando quantos valores em uma determinada coluna de um determinado mês existem, e colocando numa lista

  return lista 

def diferenca (Acidentes2019, Acidentes2020): # função para criar uma lista com o cálculo da diferenca de acidentes em 2019 e 2020

  diferenca = []

  for i in range(12):
    if Acidentes2019[i] != 0 and Acidentes2020[i] != 0: # condição para evitar erro de divisão por zero

      if (Acidentes2019[i] / Acidentes2020[i]) < 1:  diferenca.append("Aumentou") # Condição para saber se houve aumento ou diminuição nos casos 
      else: diferenca.append("Diminuiu")

    else : diferenca.append('-') # se valores forem diferentes de zero (nesse caso eles só poderiam ser NaN), serão colocados '-' em seu lugar
  
  return diferenca

# Criando Series a partir da função "calculo", que cria uma lista com os valores do dataframe de 2019 ou 2020
# O Dataframe e a coluna a ser analisada são passados como parâmetros
# A função analisa quantos valores há em cada mês e preenche os índices dessa forma, criando uma lista com 11 índices (De 0 à 11).
# Após isso a lista é transformada em uma Serie
QuantAcidentes2019 = pd.Series(calculo(df2019, 'id'))  # Como todas as linhas da coluna 'id' são maiores que 0, ela foi utilizada para identificar quantos acidentes tinham em cada mês na função de calculo
QuantAcidentes2020 = pd.Series(calculo(df2020, 'id'))

# Usando a função "diferenca" para criar uma serie com dados calculados relacionando duas listas (Quantidades de acidentes em 2019 e 2020)
diferencaAnos = pd.Series(diferenca(calculo(df2019, 'id'), calculo(df2020, 'id')))

# Usando a função ".concat" para criar um Dataframe com todas as informações das Series criadas anteriormente
All = pd.concat([QuantAcidentes2019, QuantAcidentes2020, diferencaAnos], axis = 1)
# Criando os novos índices e colocando no dataframe com a função ".index"
All.index = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
# Criando as novas colunas e colocando no dataframe com a função ".columns"
All.columns = ['Quant_Acidentes_2019','Quant_Acidentes_2020', ' Diferença ']

All

           Quant_Acidentes_2019  Quant_Acidentes_2020  Diferença
Janeiro                    5120                  5495    Aumentou
Fevereiro                  4963                  5464    Aumentou
Março                      5593                  4781    Diminuiu
Abril                      5436                  3877    Diminuiu
Maio                       5473                  4647    Diminuiu
Junho                      5578                  4719    Diminuiu
Julho                      5794                  5101    Diminuiu
Agosto                     5703                     0           -
Setembro                   5868                     0           -
Outubro                    5881                     0           -
Novembro                   5802                     0           -
Dezembro                   6235                     0           -